<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<title>Admin Home</title>
</head>

<body>

	<h1>Admin home page</h1>
	<p>Only admins are allowed to view this page</p>


<div sec:authorize="isAuthenticated()">
	<!-- 
	Logged user: <span sec:authentication="name">Bob</span>
	Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
	 -->
</div>


<a th:href="@{/}">Home</a>

</body>
</html>