body {
	background-color: #f4f4f4;
}

.search {
	padding: 15px;
}

h3 {
	padding: 1rem;
	font-size: 2.0rem;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.navbar {
	background-color: #e3f2fd;
}

.content-wrapper {	
	background-image: linear-gradient(to right, rgba(251,255,230,0), rgba(172,178,239,1));
}


.author {
	font-size: 0.8rem;
	color: #474747;
	padding-left: 1rem;
}

.content {
	padding: 1rem;
	font-size: 1.2rem;
}

.comment {
	padding-left: 1rem;
	padding-top: 0.5rem;
}

.write-comment {
	padding: 1.5rem;
}

