<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<title th:text="${blog.title}"></title>
</head>


<body>
<div class="container">
	<a th:href="@{/}" class="btn btn-primary btn-sm">Return Home</a>
	<h3 th:text="${blog.title}"></h3>
	<p th:text="'Written by ' + ${blog.author.username} + ' on ' + ${blog.writeDate}" />
	<p th:utext="${#strings.replace( #strings.escapeXml( blog.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" ></p>

<!-- Comments -->
<h4>Comments</h4>
<div th:each="comment : ${comments}">
	<p th:text="${comment.commenter.username} + ' commented on ' + ${comment.writeDate}" />
	<p th:text="${comment.content}" />
</div>

<!-- Writing Comment -->
<div sec:authorize="isAuthenticated()">
	<form th:action="@{'/submitComment/' + ${blog.id}}" method="post" 
		th:object="${currentComment}">
		
		<textarea th:field="*{content}" />	
		<input type="submit" value="Add Comment"/>
	</form>
</div>

</div>
</body>
</html>