<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<link rel="stylesheet" href="../css/main.css" />
	
	<title th:text="${blog.title}"></title>
</head>


<body>
<header th:insert="./layout.html :: header"></header>

<div class="container">

<div class="content-wrapper">
<!-- Content -->

	<article class="post">
	<h3 class="text-center" th:text="${blog.title}"></h3>
	<small class="author">
		Written by <strong th:text="${blog.author.username}"></strong> on <em th:text="${blog.writeDate}"></em>
	</small>
	<div class="content">
		<p th:utext="${#strings.replace( #strings.escapeXml( blog.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" ></p>
	</div>
	</article>
<hr />

<!-- Comments -->
<h3>Comments</h3>
<div class="border-success border-top" th:each="comment : ${comments}">

	<div class="author">
		Written by <strong th:text="${comment.commenter.username}"></strong> commented on 
		<em th:text="${comment.writeDate}"></em>
	</div>
	
	
	
	<p class="comment" th:text="${comment.content}" />
</div>

<!-- Writing Comment -->
<div class= "border-success border-top write-comment" sec:authorize="isAuthenticated()">
	<form th:action="@{'/submitComment/' + ${blog.id}}" method="post" 
		th:object="${currentComment}"
		>
		
		<textarea th:field="*{content}" 
			class="form-control"/>	
		<input class="btn-sm btn-success" type="submit" value="Add Comment"
			style="margin: 1.0rem"/>
	</form>
</div>
</div>

</div>
</body>
</html>