<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Fragments: home</title>
<th:block th:include="./layout.html :: headerfiles"></th:block>
</head>
<body>
    <header th:insert="./layout.html :: header"></header>


<div class="container">
<div class="row justify-content-md-center search">	
	<form th:action="@{/search}" method="POST" >
		<label for="searchBar">Search by title: </label>
		<input type="text" name="searchWord" 
			id="searchBar"/>
		<input type="submit" value="Search" class="btn btn-danger btn-sm"/>
	</form>
</div>

<div class="table-responsive">
	
	
	
	<table class="table table-light table-striped table-bordered table-hover">
		<thead class="thead-dark">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Date Posted</th>
		</tr>
		</thead>
		
		<tbody >
		<tr th:each="blog : ${blogs}">
			<td th:text="${blog.author.username}" />
			<td><a th:href="@{'/view/' + ${blog.id}}" th:text="${blog.title}" /> </td>
			<td th:text="${blog.writeDate}" />
			
		</tr>
		</tbody>
	
	</table>
	
	</div>



</div>

</body>
</html>